.btn {
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 1.4rem 2rem;
    border-radius: 5px;
    width: 15rem;
    display: flex;
    justify-content: center;
    transition: .3s ease;
}

.btn-blue {
    color: $color-11;
    background-color: $color-1;
    border: 1px solid $color-1;

    &:hover {
        opacity: .8;
    }
}

.btn-white {
    border: 1px solid $color-1;
    color: $color-1;

    &:hover {
        color: $color-11;
        background-color: $color-1;
    }
}

.btn-dark {
    background-color: $color-2;
    color: $color-11;
}