.footer {
    background-color: $color-7;
    color: $color-11;
    padding: 7rem 0;

    &__inner {
        display: grid;
        grid-template-columns: 40rem 1fr 1fr 1fr;
        gap: 5rem;
    }

    &__col--1 {
        padding-right: 8rem;
    }

    &__col--4 {
        p {margin-bottom: 1.4rem;}
    }

    &__logo {
        color: $color-11;
        font-size: 1.7rem;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 1.6rem;
    }

    &__heading {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }

    &__link {
        color: $color-11;
    }

    li:not(:last-child) {
        margin-bottom: .7rem;
    }

    p {
        line-height: 1.5;
    }
}

// MEDIA QUERIES AND RESPONSIVENESS
@media screen and (max-width: 800px) {
    .footer {
        &__inner {
            grid-template-columns: 1fr;
            text-align: center;
        }

        &__col--1 {
            padding-right: 0;
        }
    }
}