.container,
.container-sm {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.container {
    max-width: 120rem;
}

.container-lg {
    max-width: 140rem;
}

.container-sm {
    max-width: 90rem;
}