// HERO - ABOUT PAGE
.hero-abt {
    img {
        width: 100%;
    }
}

// ABOUT INFO
.about {
    padding: 8rem 0;

    &__inner {
        max-width: 80rem;
    }

    p:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// TEAM GALLERY
.gallery {
    .h-2 {
        margin-bottom: -.1rem;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        margin-top: 4rem;
    }

    &__inner-mobile {
        display: none;
    
        div {
            flex-basis: 100%;
            text-align: left;
    
            .slick-dots li button::before {
                color: $color-1;
            }
        }
    }

    img {
        border-radius: 8px;
        width: 100%;
    }

    .title {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}

// SIGN UP
.signup-abt {
    background-color: #E4E4E433;
}

// RESPONSIVNESS AND MEDIA QUERIES
@media screen and (max-width: 768px) {
    .about {
        padding: 5rem 0;
        &__inner {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        &__inner-pc {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 479px) {
    .gallery {
        &__inner-pc {
            display: none;
        }

        &__box {
            padding: 3rem;
        }

        &__inner-mobile {
            display: flex;
            justify-content: center;
        }
    }
}