// HERO
.hero {
    background-color: $color-12;

    &__inner {
        @extend .containerExtend;
        @extend .innerFlex;
    }

    &__text-box {
        width: 50%;

        form {
            display: flex;
            width: 35rem;
            max-width: 100%;
            margin-bottom: 3rem;
        }

        .email {
            border: none;
            border-radius: 5px;
            height: 4.4rem;
            background-color: $color-24;
            width: 80%;
            margin-right: 1rem;
            padding: 1rem;
            font-family: inherit;
            outline: none;

            &::placeholder {
                color: $color-3;
            }
        }

        .btn {
            font-family: inherit;
            font-size: 1.29rem;
        }

        form + p {
            font-size: 1.3rem;
            max-width: 32rem;
            line-height: 1.7;

            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    &__image {
        width: 50%;
        img {width: 100%;}
    }    
}

// STATS SECTION - MOBILE AND PC
.stats {
    background-color: $color-22;
    padding: 4rem 0;
    
    p {
        color: $color-4;
        font-weight: 700;
        font-size: 1.3rem;
        margin-top: .5rem;
    }
}

.stats-pc {

    .stats__inner {
        @extend .innerFlex;
    }
}

.stats-mobile {
    display: none;

    .stats__inner {
        display: flex;
        justify-content: center;
    }

    div {
        height: 9rem;
        flex-basis: 100%;
        text-align: center;

        .slick-dots li button::before {
            color: $color-1;
        }
    }
}

// CHOICE SECTION
.choice {
    border-bottom: 1px solid $color-22;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 7rem;
    }

    &__text-box {
        div {
            display: flex;

            .btn-blue {
                margin-right: 1rem;
            }
        }
    }

    &__image-box {
        img {width: 100%;}
    }
}

// LOANS SECTION
.loans {
    padding: 5rem 0;
}

.loans-pc {
    .loans__inner-pc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
    }
}

.loans-mobile {
    display: none;

    .loans__inner-mobile {
        display: flex;
        justify-content: center;
    }

    div {
        flex-basis: 100%;
        text-align: left;

        .slick-dots li button::before {
            color: $color-1;
        }
    }
}

// ELIGIBILITY SECTION
.eligibility {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 7rem;
    }

    &__image-box {
        img {width: 100%;}
    }

    &__text-box {
        .p-2 {
            margin-bottom: 1.5rem;
        }

        li {
            margin-top: .3rem;
        }
    }
}

// TESTIMONIALS SECTION
.testimonials {
    background-color: $color-14;
    padding: 8rem 0;

    &__inner {
        display: flex;
    }

    &__list {
        border-radius: 5px;
        background-color: $color-11;
        width: 35%;
        box-shadow: 0px 13px 6px $color-16;
        padding: 2.5rem;
    }

    &__overview {
        display: flex;
        padding: 5rem 0;
    }

    &__details {
        .h-3 {
            font-size: 1.9rem;
            line-height: 1.5;
            margin-bottom: 5rem;
        }

        .quote {
            p {
                color: $color-3;
                max-width: 40rem;
                margin-bottom: 5rem;
                position: relative;
    
                &::before {
                    content: '"';
                    position: absolute;
                    top: -2.7rem;
                    left: -1.5rem;
                    color: $color-4;
                    font-size: 2.3rem;
                }
    
                &::after {
                    content: '"';
                    position: absolute;
                    bottom: -4.8rem;
                    right: -.8rem;
                    color: $color-4;
                    font-size: 2.3rem;
                }
            }
        }

        .user-profile {
            display: flex;

            img {
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 2rem;
            }

            .h-6 {
                font-size: 1.3rem;
            }
    
            p {
                font-size: 1.1rem;
            }
        }
    }


}

.testimonial {

    &:first-child {
        margin-bottom: 3rem;
    }

    &__user-profile {
        border-radius: 5px;
        display: flex;
        box-shadow: 0px 20px 6px #F2F4F65C;
        margin-bottom: 1.3rem;
        padding: 1rem;
        max-width: 23rem;

        img {
            margin-right: 2rem;
        }

        h6 {
            color: $color-4;
            font-size: 1.3rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    &__text {
        border-radius: 5px;
        box-shadow: 0px 13px 6px #F2F4F65C;
        margin-bottom: 3rem;
        padding: 1rem;
        max-width: 30rem;

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        i {
            color: $color-10;
        }
    }
}

.arrow-btns {
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    button {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(270deg);
        cursor: pointer;
    }

    button:first-child {
        border: 1px solid #707070;
        margin-bottom: 1.8rem;
    }

    button:last-child {
        background-color: $color-1;
        color: $color-11;
        border: 1px solid $color-1;
    }

    i {
        font-size: 1rem;
    }
}

// LOAN CALCULATOR
.calculator {
    background-color: $color-14;
    padding: 5rem 0;

    &__inner {
        background-color: $color-11;
        border-radius: 5px;
        padding: 3rem 4rem;

        > div {
            display: flex;
        }
    }

    .calculation {
        width: 80%;

        .h-2 {
            margin-bottom: .3rem;
        }
    
        p {
            color: $color-3;
            margin-bottom: 2rem;
        }

        .form-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5rem;
            margin-right: 3rem;
            margin-bottom: 2rem;

            input, select {
                width: 100%;
            }
        }

        label {
            display: block;
            color: $color-3;
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: .8rem;
        }

        input, select {
            border: 1px solid #EBEBEB;
            padding: 1.5rem;
            font-family: inherit;
            border-radius: 5px;
            outline: none;
        }

        select {
            background-color: transparent;
        }
    }

    .results {
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        padding: 2rem 3rem;
        width: 20%;
        line-height: 1.5;

        label {
            display: block;
            color: $color-3;
            font-weight: 500;
            font-size: 1.3rem;
            margin-bottom: -.3rem;
        }

        p {
            color: $color-4;
            font-size: 2.8rem;
            font-weight: 900;
            letter-spacing: -1px;
        }

        div:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}

// SIGN UP SECTION
.signup {
    padding: 9rem 0;
    text-align: center;

    .h-2 {
        margin-bottom: 1.2rem;
    }

    p {
        max-width: 50rem;
        margin: 0 auto 2.2rem;
    }

    span {
        color: $color-4;
        font-weight: 500;
    }

    i {
        background-color: $color-13;
        height: 2.3rem;
        width: 2.3rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 1.1rem;
        margin-left: .8rem;
        color: $color-4;
    }
}

// RESPONSIVENESS AND MEDIA QUERIES
@media screen and (max-width: 880px) {
    .hero {
        padding: 13rem 0 8rem;

        &__text-box {
            width: 100%;
    
        }

        &__image {
            display: none;
        }
    }

    .testimonials {
        &__list {
            display: none;
        }

        .arrow-btns {
            display: none;
        }

        &__overview {
            .quote {
                padding: 0 3rem;
            }
        }
    }

    .calculator {
        &__inner {
            > div {
                flex-direction: column;
            }

            .calculation,
            .results {
                width: 100%;
            }

            .calculation {
                .form-grid {
                    margin-right: 0;
                    column-gap: 3rem;
                }
            }

            .results {
                margin-top: 3rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .choice {
        &__inner {
            grid-template-columns: 1fr;
        }

        &__text-box {
            order: 2;
        }
    }

    .loans-pc {
        .loans__inner-pc {
            grid-template-columns: 1fr;
        }

        div {
            margin-bottom: 3rem;
        }
    }

    .eligibility {
        &__inner {
            grid-template-columns: 1fr;
        }

        &__text-box {
            order: 2;
        }
    }
}

@media screen and (max-width: 479px) {
    .hero {
        &__text-box {
            form {
                flex-direction: column;
                width: 100%;
            }

            .email {
                width: 100%;
            }
    
            .btn {
                margin-top: 1.3rem;
                width: 100%;
            }

            form + p {
                max-width: 100%;
            }
        }
    }

    .stats-pc {
        display: none;
    }

    .stats-mobile {
        display: block;
    }

    .choice__inner {
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 7rem;
    }

    .loans-pc {
        display: none;
    }

    .loans-mobile {
        display: block;
    }

    .calculator {
        .calculation {
            .form-grid {
                grid-template-columns: 1fr;
                row-gap: 3rem;
            }
        }
    }
}