// HERO - SUPPORT
.hero-support {
    background-image: url('../../../assets/support-image.png');
    background-size: cover;
    padding: 5rem 0;
}

.support {
    &-box {
        background-color: $color-11;
        width: 40rem;
        max-width: 100%;
        border-radius: 8px;
        padding: 3rem;

        p {
            margin: 1rem 0 4rem;
            line-height: 1.65;
            font-size: 1.3rem;
            color: $color-4;
        }

        .h-3 {
            margin-bottom: -.6rem;
        }

        img {
            width: 4rem;
            margin: 0 .2rem;
        }

        .address {
            margin-bottom: 2rem;
        }
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        + p {
            border-top: 1px solid $color-23;
            padding-top: 1rem;
        }
    }

    &__form {
        .input-groups {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        .input-group {
            flex: 1;
        }

        label {
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            margin-bottom: .6rem;
        }

        input {
            border: 1px solid $color-23;
            outline: none;
            padding: 1.5rem .8rem;
            border-radius: 8px;
            width: 100%;
        }

        .message-box {
            margin-top: 1.8rem;

            textarea {
                width: 100%;
                resize: none;
                height: 10rem;
                border: 1px solid $color-23;
                border-radius: 8px;
            }
        }

        button {
            margin-top: 1rem;
            margin-left: auto;
        }
    }
}

// SIGN UP
.signup-support {
    background-color: #E4E4E433;
}

// MEDIA QUERIES AND RESPONSIVENESS
@media screen and (max-width: 400px) {
    .support {
        &__inner {
            flex-direction: column;
        }

        &__form {
            .input-groups {
                grid-template-columns: 1fr;
            }

            button {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }
}