// COLORS
$color-1: #29ABE2;
$color-2: #005174;
$color-3: #3E4462;
$color-4: #18214D;
$color-5: #1313136E;
$color-6: #666666;
$color-7: #021C27;
$color-8: #000000;
$color-9: #707070;
$color-10: #FFD448;
$color-11: #FFFFFF;
$color-12: #F9FCFD;
$color-13: #DFE4EA;
$color-14: #EEF1F3;
$color-15: #F4F7F8;
$color-16: #F2F4F6;
$color-17: #F6F6F6;
$color-18: #F1F2FE;
$color-19: #F2F4F65B;
$color-20: #F2F4F6C2;
$color-21: #F2F4F6;
$color-22: #EBEBEB69;
$color-23: #EBEBEB;
$color-24: #EFF2F6;
$color-25: #9D9D9D;
$color-26: #13191C;
$color-27: #4163CE;
$color-24: #EFF2F6;
