// USER REGISTRATION & LOGIN - This file contains the styles for the Registration, Login, Request Code and Verify Email Pages.

.account {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;

    &__details,
    &__image {
        flex: 1;
    }

    img {
        width: 100%;
    }

    &__inner {
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
        padding: 3rem 2rem;

        .h-2 {
            margin-bottom: .15rem;
        }

        .h-2 + p {
            margin-bottom: 2.1rem;
        }

        .input-groups {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }

        .input-group {
            margin-bottom: 1.7rem;
        }

        label {
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            margin-bottom: .6rem;
        }

        input {
            font-family: inherit;
            border: 1px solid $color-23;
            outline: none;
            padding: 1.5rem .8rem;
            border-radius: 8px;
            width: 100%;
        }

        .input-group + p {
            line-height: 1.55;
            font-size: 1.25rem;
            margin-bottom: 1.6rem;
        }

        button {
            width: 100%;
        }

        button + p {
            line-height: 1.55;
            font-size: 1.25rem;
            margin-top: 1.3rem;
            text-align: center;
        }
    }
}

// RESPONSIVNESS AND MEDIA QUERIES
@media screen and (max-width: 880px) {
    .account {
        &__image {
            display: none;
        }
    }
}