* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: 1000px) { // tab-landscape
        font-size: 58%;
    }

    @media only screen and (max-width: 500px) { // tab-landscape
        font-size: 55%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    line-height: 1.7;
    color: $color-3;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding: 12rem 0;
}