.h {
    color: $color-4;
    font-weight: 900;
}

.h-1 {
    @extend .h;
    font-size: 3.6rem;
    letter-spacing: -1px;
    word-spacing: 4px;
    margin-bottom: -.2rem;
    line-height: 1.2;
}

.h-2 {
    @extend .h;
    font-size: 2.5rem;
    margin-bottom: -.5rem;
}

.h-3 {
    @extend .h;
    margin-bottom: 1rem;
}

.h-4 {
    @extend .h;
    font-size: 1.4rem;
}

.h-5 {
    @extend .h;
    font-size: 2.5rem;
}

.h-6 {
    @extend .h;
}

.p {
    line-height: 1.75;
    margin-bottom: 3.5rem;
}

.p-1 {
    color: $color-4;
    font-size: 2.8rem;
    margin-bottom: 4rem;
}

.p-2 {
    color: $color-4;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

// RESPONSIVENESS AND MEDIA QUERIES
@media screen and (max-width: 880px) {
    .h-1 {
        font-size: 3rem;
    }

    .p-1 {
        font-size: 2.5rem;
    }

    .h-2 {
        font-size: 2rem;
    }

    .p-2 {
        font-size: 1.8rem;
    }
}